@import "tailwindcss";
 @theme{
  --color-primary: #6a11cb;
  --color-secondary: #2575fc;
  --color-accent: #f5a623;
  --color-background: #f4f4f4;
  --color-text: #333333;
  --color-border: #e0e0e0;
  --font-family-sans: 'Helvetica Neue', Arial, sans-serif;
 }